@import "tailwindcss";




:root {
  --background: #000000;
  --foreground: #ffffff;
  --yellow700: #f59e0b; /* Tailwind yellow-700 */
  --yellow950: #422006; /* Tailwind yellow-950 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
}

a {
  color: var(--yellow700);
  text-decoration: none;
}

button, input, textarea, select {
  font-family: inherit;
}
